
.left-wrapper{
    position: fixed;
    top:110px;
    left: 0;
    float: left;
    width: 250px;
    background-color: #FAFAFA;
    height: auto;
    min-height: 100vh;
}
.normaliza-fix{
    position: relative;
}
.left-wrapper ul{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 0;
    list-style-type: none;
    margin: 0;
}
.left-wrapper ul li{
    display: block;
}
.left-wrapper ul li a{
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color:#636363;
    text-decoration: none;
    vertical-align: middle;
    transition: all 0.3s ease-out;
    font-weight: 500;
    text-transform: uppercase;

}
.left-wrapper ul li .material-icons{
    height:30px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    background-color: #13C482;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    font-size: 17px;
    transform: rotate(0.03deg);
}
.left-wrapper ul li a:hover{
    color:#13C482;
    transition: all 0.3s ease-out;
}
.right-wrapper{
    position: relative;
    float: right;
    width: calc(100% - 250px);

    height: auto;
    min-height: 100px;
}
.right-header{
    position: relative;
    float: left;
    width: calc(100% - 60px);
    height: 50px;
    padding: 20px;
    margin: 10px 10px 0 10px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.14);
}
.right-header h3{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color:#636363;
    font-weight: 500;
    margin: 0;
}
.right-header .right-button{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin: 5px 0;
    background-color: #13C482;
    color:#fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 2px;
    cursor: pointer;
    float: right;
}
.update-button{
    position: relative;
    float: right;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background-color: #13C482;
    color:#fff;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.14);
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    border: transparent;
}
.right-content{
    position: relative;
    float: left;
    width: calc(100% - 40px);
    padding: 20px;
}
/*Profile*/

.profile-content-wrapper{
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.14);
    width: calc(100% - 60px);
    margin: 10px;
}
.image-wrapper{
    position: relative;
    float: left;
    margin-left: calc(50% - 80px);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
}
.image-wrapper img{
    display: inline-block;
    width: 100%;
    border-radius: 50%;
}
.image-wrapper .image-change-button{
    position: absolute;
    right: -5px;
    bottom: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.14);
    cursor: pointer;
    color:#13C482;
    text-align: center;
}
.image-wrapper .image-change-button i{
    line-height: 40px;
    font-size: 20px;
    transform: rotate(0.03deg);
}
.profile-details {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.right-content  .group{
    position: relative;
    float: left;
    width: 100%;
    padding: 15px 0;
}
.right-content  .small-group{
    position: relative;
    float: left;
    padding: 15px 0;
    width: calc(50% - 20px);
}
.right-content  .left-group{
    margin-right: 20px;
}
.right-content  .right-group{
    margin-left: 20px;
}
.right-content  .drop-select{
    width: calc(100% - 120px);
}

/*Orders*/

.order-container .right-content ul{
    position: relative;
    float: left;
    width: calc(100% + 20px);
    height: auto;
    list-style-type: none;
    margin: -10px;
    padding: 0;
}
.order-container .right-content ul li{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin: 5px 0;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.14);
}
.order-container .right-content ul li:first-child{
    margin-top: 0;
}
.order-container .right-content ul li .order-id{
    position: relative;
    float: left;
    width: calc(100% - 40px);
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgb(230,230,230);
    padding: 20px;
    margin: 0;
    color:#999;
    font-weight: 500;
}
.order-container .right-content ul li .detail-content-wrapper{
    position: relative;
    float: left;
    width: 100%;
    display: flex;
}
.order-container .right-content li .left-elem{
    position: relative;
    float: left;
    flex-basis: calc(70% - 40px);
    padding: 20px;
}
.order-container .left-elem .left-row-1{
    position: relative;
    float: left;
    width: 100%;
}
.order-container .left-elem .left-row-1 img{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #13c482;
    margin-left: -15px;
}
.order-container .left-elem .left-row-1 img:first-child{
    margin-left: 0;
}
.order-container .left-elem .left-row-1 .order-placed{
    margin-top: 10px;
    display: block;
    color:#999;
}
.order-container .left-elem .left-row-2{
    margin-top: 20px;
    position: relative;
    float: left;
    width: 100%;
    display: flex;
}
.order-container .left-elem  .left-col-1,.order-container .left-elem  .left-col-2{
    flex: 1;
    position: relative;
    float: left;
}
.order-container .left-elem .left-row-2 .info-label{
    display: block;
    margin: 5px 0;
}
.order-container .right-elem{
    position: relative;
    float: left;
    flex-basis: calc(30%  - 40px);
    padding: 20px;
    justify-content: right;
    align-items: center;
    display: flex;
}
.order-container .right-elem .buttons{
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid rgb(230,230,230);
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    color:#636363;
    transition: all 0.3s ease-out;
}
.order-container .right-elem .buttons:hover{
    background-color: #13c482;
    border-color: #13c482;
    box-shadow: 0 1px 3px rgba(0,0,0,0.14);
    transition: all 0.3s ease-out;
    color:#fff;
}